{% comment %}
/snippets/footer.liquid
{% endcomment %}
<footer class="site-footer" role="contentinfo">
    {% if settings.footer_newsletter_enable %}
    <div class="newsletter">
        <h3>Join our mailing list</h3>
        {% include 'newsletter-form' %}
    </div>
    {% endif %}

    <nav class="footer-navigation">

        <div class="collection-links">
          <ul>
            <li>
              <a href="collections/collection">Collection</a>
              <ul>
              {% for link in navigation.collection.links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
              {% endfor %}
              </ul>
            </li>
          </ul>
        </div>

      {% if settings.footer_quicklinks_enable %}
      <div class="secondary-links">
        <ul>
          {% for link in navigation[settings.footer_quicklinks_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if settings.footer_social_enable %}
      <div class="social-links">
          <p>Follow us</p>
          {% comment %}
            Loop through the social network links
          {% endcomment %}
          <ul>
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="facebook" href="{{ settings.social_facebook_link }}" title="{{ store.name }} on Facebook">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="instagram" href="{{ settings.social_instagram_link }}" title="{{ store.name }} on Instagram">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="pinterest" href="{{ settings.social_pinterest_link }}" title="{{ store.name }} on Pinterest">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% comment %}
            Remove Unused Social Links
            - Twitter
            - Tumblr
            - Google
            - Vimeo
            - Youtube

            {% if settings.social_twitter_link != blank %}
                  <li>
                      <a class="twitter" href="{{ settings.social_twitter_link }}" title="{{ store.name }} on Twitter">
                          <span class="icon" aria-hidden="true"></span>
                          <span class="fallback-text">Twitter</span>
                      </a>
                  </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="tubmlr" href="{{ settings.social_tumblr_link }}" title="{{ shop.name }} on Tumblr">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_google_link != blank %}
              <li>
                <a class="google" href="{{ settings.social_google_link }}" title="{{ shop.name }} on Google+">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Google+</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="vimeo" href="{{ settings.social_vimeo_link }}" title="{{ shop.name }} on Vimeo">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="youtube" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on YouTube">
                  <span class="icon" aria-hidden="true"></span>
                  <span class="fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% endcomment %}
          </ul>
      </div>
      {% endif %}
    </nav>

    <div class="copyright">
        <p>&copy;{{ store.name }}. All rights reserved</p>
        <span class="tagline">
          <span class="image" aria-hidden="true"></span>
          <span class="fallback-text">Made in your world image</span>
        </span>
    </div>

</footer>
