<!-- snippets/onboarding-featured-products.liquid -->
<div class="grid__item">
  <div class="helper-section">

    <div class="grid-uniform helper-content">

        <div class="grid__item one-half large--one-quarter">
          <a href="/admin/products" class="grid__image">
            <img src="{{ 'product-1.png' | asset_url }}" />
          </a>
          <p class="h6"><a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
          <p>$19.99</p>
        </div>

        <div class="grid__item one-half large--one-quarter">
          <a href="/admin/products" class="grid__image">
            <img src="{{ 'product-2.png' | asset_url }}" />
          </a>
          <p class="h6"><a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
          <p>$19.99</p>
        </div>

        <div class="grid__item one-half large--one-quarter">
          <a href="/admin/products" class="grid__image">
            <img src="{{ 'product-3.png' | asset_url }}" />
          </a>
          <p class="h6"><a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
          <p>$19.99</p>
        </div>

        <div class="grid__item one-half large--one-quarter">
          <a href="/admin/products" class="grid__image">
            <img src="{{ 'product-4.png' | asset_url }}" />
          </a>
          <p class="h6"><a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
          <p>$19.99</p>
        </div>
      
    </div>
  </div>
</div>



