<!-- /snippets/site-nav.liquid -->

<ul class="site-nav" id="AccessibleNav">
  {% for link in navigation.main-menu.links %}

        {% assign child_list_handle = link.url | handleize | default: '__default__' %}
        {% if navigation[child_list_handle].links != blank %}
          <li class="had-dropdown" aria-haspopup="true">
            <a>{{ link.name }}</a>
            <ul class="dropdown">
              {% for childlink in navigation[child_list_handle].links %}

                {% assign sub_child_list_handle = childlink.url | handleize | default: '__default__' %}
                {% if navigation[sub_child_list_handle].links != blank %}
                    <li class="has-dropdown" aria-haspopup="true">

                        <a>{{ childlink.name }}</a>
                        <ul class="dropdown">
                        {% for subchildlink in navigation[sub_child_list_handle].links %}
                            <li>
                              <a href="{{ subchildlink.url }}">{{ subchildlink.name | escape }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}

                    <li>
                      <a href="{{ childlink.url }}">{{ childlink.name | escape }}</a>
                    </li>

                {% endif %}

              {% endfor %}
            </ul>
          </li>
        {% else %}
          {% if link.name == 'Collection' %}
              <li class="has-dropdown" aria-haspopup="true">
                <a href="{{ link.url }}">{{ link.name }}</a>
                <ul class="dropdown">
                  {% for link in navigation.collection.links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.name }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
          {% else %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
        {% endif %}
      {% endif %}
  {% endfor %}
</ul>
