<!-- /templates/cart.liquid -->

<div class="cart-container">
{% for error in cart.errors %}
  <!-- <p class="errors">{{ error.title }}</p> -->
{% endfor %}

{% if cart.item_count > 0 %}

  <form action="{{ urls.cart_update }}" method="post" novalidate class="cart">
    <div class="section-header">
      <h1>{{ 'cart.general.title' | t }}</h1>
    </div>

    <div class="cart-header">
      <div class="cart-product-column">
        {{ 'cart.label.product' | t }}
      </div>
      <div class="cart-qty-column">
        {{ 'cart.label.quantity' | t }}
      </div>
      <div class="cart-subtotal-column">
        {{ 'cart.label.total' | t }}
      </div>
    </div>

    {% comment %}
      Loop through products in the cart
    {% endcomment %}


    {% for item in cart.items %}
      <div class="cart-row" data-id="{{ item.id }}">
        <div class="cart-product-column">
           <div class="cart-thumb">
             {% if item.image %}
             <a href="{{ item.product.url | within: collections.all }}" class="cart__image">
               <img src="{{ item | img_url: 'medium' }}" alt="{{ item.product.name | escape }}">
             </a>
             {% endif %}
           </div>

           <div class="cart-product-details">
             <a href="{{ item.product.url }}" class="product-name">
               {{ item.product.name }}
             </a>
             {% unless item.variant.name contains 'Default' %}
             <small>{{ item.variant.name }}</small>
             {% endunless %}
           </div>
           <div class="cart-row-actions">
             <input type="submit" name="update" class="button-update" value="{{ 'cart.general.update' | t }}">
             <a href="{{ urls.cart_edit }}?id={{ item.id }}&quantity=0" class="button-remove" data-id="{{ item.id }}">
               <span class="icon" aria-hidden="true"></span>
               <span class="fallback-text">{{ 'cart.general.remove' | t }}</span>
             </a>
           </div>

        </div>
        <div class="cart-qty-column">
          <input class="qty-input" type="number" name="items[{{ item.id }}][quantity]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
        </div>
        <div class="cart-subtotal-column">
          <span>{{ item.line_price | money }}</span>
        </div>
      </div>
    {% endfor %}


      <div class="cart-footer">

        <div class="cart-summary">
          <p>
            <span class="cart-subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="cart-subtotal-value">{{ cart.total_price | money }}</span>
          </p>
          <p class="small"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
        </div>

        {% comment %}
        Optional, add a textarea for special notes
        - Your theme settings can turn this on or off. Default is on.
        - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          {% assign noteSize = cart.note | size %}
          <div class="cart-note">
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
        {% endif %}

        <input type="submit" name="checkout" class="button checkout-button" value="{{ 'cart.general.checkout' | t }}">

      </div>
    </div>

  </form>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
</div>