{% comment %}
  /templates/index.liquid
  This is the homepage of your site.
{% endcomment %}

{% comment %}Homepage Banner{% endcomment %}
{% if settings.home_banner_use_image %}
  <div class="main-banner"><a href="{{ settings.main_banner_handle }}"><img src="{{ 'home_banner.png' | asset_url }}" itemprop="home_banner" width="100%"></a></div>
{% endif %}

{% if settings.secondary_banner_on %}

<div class="secondary-banners">
    {% if settings.secondary_banner_en_1 %}
    <div><a href="{{ settings.secondary_banner_handle_1 }}"><img src="{{ 'secondary_banner_img_1.jpg' | asset_url }}" /></a></div>
    {% endif %}
    {% if settings.secondary_banner_en_2 %}
    <div><a href="{{ settings.secondary_banner_handle_2 }}"><img src="{{ 'secondary_banner_img_2.jpg' | asset_url }}" /></a></div>
    {% endif %}
</div>

{% endif %}

<div class="home-collection">
  <div class="collection-main">
    <div class="section-header">
      <h2>Latest Products</h2>
    </div>
    <div class="product-grid-scrollable">
    <div class="product-grid">
      {% comment %}
        Loop through products in your Frontpage collection.
        This collection is created by default, but you must add products to it.
      {% endcomment %}
      {% for product in collections.new.products limit:4 %}
        {% include 'product-grid-item' %}
      {% endfor %}
    </div>
    </div>
  </div>
</div>